In [18]:
import numpy as np
import pandas as pd
import pandas_profiling

pdf=pd.DataFrame({"x": [-1.0, 10.0, np.nan], "y": ['a', 'b', 'c']}
)

In [19]:
import pyspark
import databricks.koala
import pyspark

sc = pyspark.SparkContext.getOrCreate()
spark = pyspark.sql.SparkSession(sc)

In [20]:
df = spark.from_pandas(pdf)

In [21]:
df

DataFrame[__index_level_0__: bigint, x: double, y: string]

In [45]:
pdf.dtypes

x    float64
y     object
dtype: object

In [34]:
df.dtypes

[('__index_level_0__', 'bigint'), ('x', 'double'), ('y', 'string')]

In [37]:
list(pdf.dtypes)

[dtype('float64'), dtype('O')]

In [28]:
df.x

0    -1.0
1    10.0
2     NaN
Name: x, dtype: float64

In [31]:
pdf.count()

x    2
y    3
dtype: int64

In [32]:
df.count()

3